VITE_API_GATEWAY_URL=http://localhost:8080

# TODO A FUTURO: Cuando auth, users y soporte se configuren en el gateway, 
# se eliminarán estas variables.
VITE_MS_AUTH_URL=http://localhost:3001
VITE_MS_USERS_URL=http://localhost:3002
VITE_MS_SOPORTE_URL=http://localhost:3003
